@import '../../base/src/base.scss';

$mds-accordion-icon-color-hover: $mdsBlackLightest !default;
$mds-accordion-icon-color: $mdsBlack !default;

:host {
  padding: 20px;
}

.mds-accordion-header-wrapper {
    display: flex;
}
.mds-accordion-header {
    display: flex;
    flex: 1;
    cursor: pointer;
}
.mds-accordion-content {
    display: block;
    height: 0;
    transition: height 0.2s;
    overflow: auto;
}
.mds-accordion-header-icon {
  fill: $mds-accordion-icon-color;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  flex-shrink: 0;
  user-select: none;
  transform: rotate(0deg);
  border-radius: 50%;
  cursor: pointer;
  transition: .2s ease-in-out;
  &.open {
    transform: rotate(180deg);
  }
  &:hover {
    background-color: $mds-accordion-icon-color-hover;
  }
}