@import './vars.scss';

*[class*='mds-'] {
  box-sizing: content-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:host {
  display: block;
  // --mdsBlue: $mdsBlue;
  // --mdsBlueDark: $mdsBlueDark;
  // --mdsBlueDarker: $mdsBlueDarker;
  // --mdsBlueDarkest: $mdsBlueDarkest;
  // --mdsBlueLight: $mdsBlueLight;
  // --mdsBlueLighter: $mdsBlueLighter;
  // --mdsBlueLightest: $mdsBlueLightest;
  // --mdsOrange: $mdsOrange;
  // --mdsOrangeDark: $mdsOrangeDark;
  // --mdsOrangeDarker: $mdsOrangeDarker;
  // --mdsOrangeDarkest: $mdsOrangeDarkest;
  // --mdsOrangeLight: $mdsOrangeLight;
  // --mdsOrangeLighter: $mdsOrangeLighter;
  // --mdsOrangeLightest: $mdsOrangeLightest;
  // --mdsPurple: $mdsPurple;
  // --mdsPurpleDark: $mdsPurpleDark;
  // --mdsPurpleDarker: $mdsPurpleDarker;
  // --mdsPurpleDarkest: $mdsPurpleDarkest;
  // --mdsPurpleLight: $mdsPurpleLight;
  // --mdsPurpleLighter: $mdsPurpleLighter;
  // --mdsPurpleLightest: $mdsPurpleLightest;
  // --mdsGreen: $mdsGreen;
  // --mdsGreenDark: $mdsGreenDark;
  // --mdsGreenDarker: $mdsGreenDarker;
  // --mdsGreenDarkest: $mdsGreenDarkest;
  // --mdsGreenLight: $mdsGreenLight;
  // --mdsGreenLighter: $mdsGreenLighter;
  // --mdsGreenLightest: $mdsGreenLightest;
  // --mdsLightBlue: $mdsLightBlue;
  // --mdsLightBlueDark: $mdsLightBlueDark;
  // --mdsLightBlueDarker: $mdsLightBlueDarker;
  // --mdsLightBlueDarkest: $mdsLightBlueDarkest;
  // --mdsLightBlueLight: $mdsLightBlueLight;
  // --mdsLightBlueLighter: $mdsLightBlueLighter;
  // --mdsLightBlueLightest: $mdsLightBlueLightest;
  // --mdsGold: $mdsGold;
  // --mdsGoldDark: $mdsGoldDark;
  // --mdsGoldDarker: $mdsGoldDarker;
  // --mdsGoldDarkest: $mdsGoldDarkest;
  // --mdsGoldLight: $mdsGoldLight;
  // --mdsGoldLighter: $mdsGoldLighter;
  // --mdsGoldLightest: $mdsGoldLightest;
  // --mdsRust: $mdsRust;
  // --mdsRustDark: $mdsRustDark;
  // --mdsRustDarker: $mdsRustDarker;
  // --mdsRustDarkest: $mdsRustDarkest;
  // --mdsRustLight: $mdsRustLight;
  // --mdsRustLighter: $mdsRustLighter;
  // --mdsRustLightest: $mdsRustLightest;
  // --mdsGray: $mdsGray;
  // --mdsGrayDark: $mdsGrayDark;
  // --mdsGrayDarker: $mdsGrayDarker;
  // --mdsGrayDarkest: $mdsGrayDarkest;
  // --mdsGrayLight: $mdsGrayLight;
  // --mdsGrayLighter: $mdsGrayLighter;
  // --mdsGrayLightest: $mdsGrayLightest;
  // --mdsBlack: $mdsBlack;
  // --mdsBlackLight: $mdsBlackLight;
  // --mdsBlackLighter: $mdsBlackLighter;
  // --mdsBlackLightest: $mdsBlackLightest;
  // --mdsWhite: $mdsWhite;
  // --mdsWhiteLight: $mdsWhiteLight;
  // --mdsWhiteLighter: $mdsWhiteLighter;
  // --mdsWhiteLightest: $mdsWhiteLightest;
}
