$mdsBlue: #005A8C;
$mdsBlueDark: #004870;
$mdsBlueDarker: #003654;
$mdsBlueDarkest: #002438;
$mdsBlueLight: #669CBA;
$mdsBlueLighter: #99BDD1;
$mdsBlueLightest: #CCDEE8;

$mdsOrange: #EF8200;
$mdsOrangeDark: #BF6800;
$mdsOrangeDarker: #8F4E00;
$mdsOrangeDarkest: #603400;
$mdsOrangeLight: #F5B466;
$mdsOrangeLighter: #F9CD99;
$mdsOrangeLightest: #FCE6CC;

$mdsPurple: #702C6A;
$mdsPurpleDark: #5A2355;
$mdsPurpleDarker: #431A40;
$mdsPurpleDarkest: #2D122A;
$mdsPurpleLight: #A980A6;
$mdsPurpleLighter: #C6ABC3;
$mdsPurpleLightest: #E2D5E1;

$mdsGreen: #5A8E22;
$mdsGreenDark: #48721B;
$mdsGreenDarker: #365514;
$mdsGreenDarkest: #24390E;
$mdsGreenLight: #9CBB7A;
$mdsGreenLighter: #BDD2A7;
$mdsGreenLightest: #DEE8D3;

$mdsLightBlue: #4891DC;
$mdsLightBlueDark: #3A74B0;
$mdsLightBlueDarker: #2B5784;
$mdsLightBlueDarkest: #1D3A58;
$mdsLightBlueLight: #91BDEA;
$mdsLightBlueLighter: #B6D3F1;
$mdsLightBlueLightest: #B6D3F1;

$mdsGold: #FFB500;
$mdsGoldDark: #CC9100;
$mdsGoldDarker: #996D00;
$mdsGoldDarkest: #664800;
$mdsGoldLight: #FFE199;
$mdsGoldLighter: #F9CD99;
$mdsGoldLightest: #FFF0CC;

$mdsRust: #B95915;
$mdsRustDark: #944711;
$mdsRustDarker: #6F350D;
$mdsRustDarkest: #4A2408;
$mdsRustLight: #D59B53;
$mdsRustLighter: #E3BDA1;
$mdsRustLightest: #F1DED0;

$mdsGray: #88746A;
$mdsGrayDark: #6D5D55;
$mdsGrayDarker: #524640;
$mdsGrayDarkest: #362E2A;
$mdsGrayLight: #AEA6A3;
$mdsGrayLighter: #CFC7C3;
$mdsGrayLightest: #E7E3E1;

$mdsBlack: #333333;
$mdsBlackLight: #666666;
$mdsBlackLighter: #999999;
$mdsBlackLightest: #CCCCCC;
$mdsWhite: #EEEEEE;
$mdsWhiteLight: #FEFEFE;
$mdsWhiteLighter: #EFEFEF;
$mdsWhiteLightest: #FFFFFF;