@import '../../core/src/core.scss';

.ui-radio-wrapper  {
  display: inline-block;
  margin: 0.25rem;
}

.ui-radio-label {
  display: flex;
  flex-shrink: 1;
  cursor: pointer;
  .ui-radio-border {
    position: relative;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    border: var(--uiRadioBorder, 3px inset $mdsPurple);
    .ui-radio-circle {
      position: absolute;
      display: inline-block;
      top: 3px;
      right: 3px;
      bottom: 3px;
      left: 3px;
      border-radius: 50%;
      &.checked {
        background-color: var(--uiRadioColorChecked, $mdsPurple);
        &:hover {
          background-color: var(--uiRadioColorChecked, $mdsPurpleDark);
        }
      }
    }
  }
  .ui-radio-label-text {
    margin-left: 0.5rem;
    flex-shrink: 1;
    align-content: center;
    align-self: center;
  }
  input {
    position: absolute;
    opacity: 0;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
  }

  &.standard {
    .ui-radio-border {
      display: none;
    }
    input {
      position: initial;
      opacity: 1;
      height: initial;
      width: initial;
      cursor: pointer;
    }
  }
}