@import '../../base/src/base.scss';


.mds-text-input {
  border-width: 0;
  border-style: none;
  border-image: none;
  background-color: initial;
  box-sizing: border-box;
  padding-left: .3rem;
  outline: initial;
  font-size: 1rem;
  height: 2rem;
  display: block;
  width: 100%;
  border-bottom: 2px inset rgba(0, 0, 0, 0.2);
}

.mds-text-input-label {
  margin-bottom: -0.4rem;
  display: inline-block;
  color: $mdsBlackLight;
  opacity: 0.7;
  transition: transform 0.2s ease-in-out;
  transform-origin: bottom left;
  transform: scale(0.875) translate(0.325rem, -1.625rem);
  white-space: nowrap;
}

.mds-text-input-wrapper.focus .mds-text-input-label {
  transform: scale(0.875) translate(0.325rem, 0);
}

.mds-text-input:focus {
  outline: none;
}