$uiBlue: #005A8C !default;
$uiBlueDark: #004870 !default;
$uiBlueDarker: #003654 !default;
$uiBlueDarkest: #002438 !default;
$uiBlueLight: #669CBA !default;
$uiBlueLighter: #99BDD1 !default;
$uiBlueLightest: #CCDEE8 !default;

$uiRed: #CA303A !default;
$uiRedDark: #CA303A !default;
$uiRedDarker: #CA303A !default;
$uiRedDarkest: #CA303A !default;
$uiRedLight: #d9534f !default;
$uiRedLighter: #d9534f !default;
$uiRedLightest: #d9534f !default;

$uiOrange: #EF8200 !default;
$uiOrangeDark: #BF6800 !default;
$uiOrangeDarker: #8F4E00 !default;
$uiOrangeDarkest: #603400 !default;
$uiOrangeLight: #F5B466 !default;
$uiOrangeLighter: #F9CD99 !default;
$uiOrangeLightest: #FCE6CC !default;

$uiPurple: #702C6A !default;
$uiPurpleDark: #5A2355 !default;
$uiPurpleDarker: #431A40 !default;
$uiPurpleDarkest: #2D122A !default;
$uiPurpleLight: #A980A6 !default;
$uiPurpleLighter: #C6ABC3 !default;
$uiPurpleLightest: #E2D5E1 !default;

$uiGreen: #5A8E22 !default;
$uiGreenDark: #48721B !default;
$uiGreenDarker: #365514 !default;
$uiGreenDarkest: #24390E !default;
$uiGreenLight: #9CBB7A !default;
$uiGreenLighter: #BDD2A7 !default;
$uiGreenLightest: #DEE8D3 !default;

$uiLightBlue: #4891DC !default;
$uiLightBlueDark: #3A74B0 !default;
$uiLightBlueDarker: #2B5784 !default;
$uiLightBlueDarkest: #1D3A58 !default;
$uiLightBlueLight: #91BDEA !default;
$uiLightBlueLighter: #B6D3F1 !default;
$uiLightBlueLightest: #B6D3F1 !default;

$uiGold: #FFB500 !default;
$uiGoldDark: #CC9100 !default;
$uiGoldDarker: #996D00 !default;
$uiGoldDarkest: #664800 !default;
$uiGoldLight: #FFE199 !default;
$uiGoldLighter: #F9CD99 !default;
$uiGoldLightest: #FFF0CC !default;

$uiRust: #B95915 !default;
$uiRustDark: #944711 !default;
$uiRustDarker: #6F350D !default;
$uiRustDarkest: #4A2408 !default;
$uiRustLight: #D59B53 !default;
$uiRustLighter: #E3BDA1 !default;
$uiRustLightest: #F1DED0 !default;

$uiGray: #88746A !default;
$uiGrayDark: #6D5D55 !default;
$uiGrayDarker: #524640 !default;
$uiGrayDarkest: #362E2A !default;
$uiGrayLight: #AEA6A3 !default;
$uiGrayLighter: #CFC7C3 !default;
$uiGrayLightest: #E7E3E1 !default;

$uiBlack: #333333 !default;
$uiBlackLight: #666666 !default;
$uiBlackLighter: #999999 !default;
$uiBlackLightest: #CCCCCC !default;
$uiWhite: #EEEEEE !default;
$uiWhiteLight: #FEFEFE !default;
$uiWhiteLighter: #EFEFEF !default;
$uiWhiteLightest: #FFFFFF !default;