$mdsBlue: #005A8C !default;
$mdsBlueDark: #004870 !default;
$mdsBlueDarker: #003654 !default;
$mdsBlueDarkest: #002438 !default;
$mdsBlueLight: #669CBA !default;
$mdsBlueLighter: #99BDD1 !default;
$mdsBlueLightest: #CCDEE8 !default;

$mdsRed: #CA303A !default;
$mdsRedDark: #CA303A !default;
$mdsRedDarker: #CA303A !default;
$mdsRedDarkest: #CA303A !default;
$mdsRedLight: #d9534f !default;
$mdsRedLighter: #d9534f !default;
$mdsRedLightest: #d9534f !default;

$mdsOrange: #EF8200 !default;
$mdsOrangeDark: #BF6800 !default;
$mdsOrangeDarker: #8F4E00 !default;
$mdsOrangeDarkest: #603400 !default;
$mdsOrangeLight: #F5B466 !default;
$mdsOrangeLighter: #F9CD99 !default;
$mdsOrangeLightest: #FCE6CC !default;

$mdsPurple: #702C6A !default;
$mdsPurpleDark: #5A2355 !default;
$mdsPurpleDarker: #431A40 !default;
$mdsPurpleDarkest: #2D122A !default;
$mdsPurpleLight: #A980A6 !default;
$mdsPurpleLighter: #C6ABC3 !default;
$mdsPurpleLightest: #E2D5E1 !default;

$mdsGreen: #5A8E22 !default;
$mdsGreenDark: #48721B !default;
$mdsGreenDarker: #365514 !default;
$mdsGreenDarkest: #24390E !default;
$mdsGreenLight: #9CBB7A !default;
$mdsGreenLighter: #BDD2A7 !default;
$mdsGreenLightest: #DEE8D3 !default;

$mdsLightBlue: #4891DC !default;
$mdsLightBlueDark: #3A74B0 !default;
$mdsLightBlueDarker: #2B5784 !default;
$mdsLightBlueDarkest: #1D3A58 !default;
$mdsLightBlueLight: #91BDEA !default;
$mdsLightBlueLighter: #B6D3F1 !default;
$mdsLightBlueLightest: #B6D3F1 !default;

$mdsGold: #FFB500 !default;
$mdsGoldDark: #CC9100 !default;
$mdsGoldDarker: #996D00 !default;
$mdsGoldDarkest: #664800 !default;
$mdsGoldLight: #FFE199 !default;
$mdsGoldLighter: #F9CD99 !default;
$mdsGoldLightest: #FFF0CC !default;

$mdsRust: #B95915 !default;
$mdsRustDark: #944711 !default;
$mdsRustDarker: #6F350D !default;
$mdsRustDarkest: #4A2408 !default;
$mdsRustLight: #D59B53 !default;
$mdsRustLighter: #E3BDA1 !default;
$mdsRustLightest: #F1DED0 !default;

$mdsGray: #88746A !default;
$mdsGrayDark: #6D5D55 !default;
$mdsGrayDarker: #524640 !default;
$mdsGrayDarkest: #362E2A !default;
$mdsGrayLight: #AEA6A3 !default;
$mdsGrayLighter: #CFC7C3 !default;
$mdsGrayLightest: #E7E3E1 !default;

$mdsBlack: #333333 !default;
$mdsBlackLight: #666666 !default;
$mdsBlackLighter: #999999 !default;
$mdsBlackLightest: #CCCCCC !default;
$mdsWhite: #EEEEEE !default;
$mdsWhiteLight: #FEFEFE !default;
$mdsWhiteLighter: #EFEFEF !default;
$mdsWhiteLightest: #FFFFFF !default;