:root {
  /* --uiBannerColor: purple;
  --uiBannerBackgroundColor: rgba(255, 166, 0, 0.783); */
  /* --uiBannerBackgroundColor: orange;
  --uiBannerHeaderColor: darkgreen;
  --uiBannerHeaderMaxWidth: 320px;
  --uiBannerContentColor: white;
  --uiBannerContentMaxWidth: 320px; */
}