:root {
  /* --uiChipColor: purple;
  --uiChipBackgroundColor: yellow;
  --uiChipIconColor: blue;
  --uiChipIconColorHover: red;
  --uiChipIconColorActive: green;
  --uiChipBagUnderline: 2px solid orange; */
}