:root {
  /* --mdsChipColor: purple;
  --mdsChipBackgroundColor: yellow;
  --mdsChipIconColor: blue;
  --mdsChipIconColorHover: red;
  --mdsChipIconColorActive: green;
  --mdsChipBagUnderline: 2px solid orange; */
}