.validated-input {
  position: relative;
}

.validated-input[valid] {
  height: 2rem;
  margin-bottom: 1.4rem;
}

.validated-input[valid]::after {
  display: block;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.validated-input.valid {
  box-shadow: inset 0px 0px 0px 2px rgba(0, 255, 0, 0.8);
}

.validated-input.valid::after {
  color: rgba(0, 255, 0, 0.8);
  content: '\2714';
}

.validated-input.invalid {
  box-shadow: inset 0px 0px 0px 2px rgba(255, 0, 0, 0.8);
}

.validated-input.invalid::after {
  color: rgba(255, 0, 0, 0.8);
  content: '\2718';
}
