:root {
  /* --mdsAccordionIconColor: white;
  --mdsAccordionIconColorHover: orange;
  --mdsPaperColor: orange;
  --mdsPaperBackgroundColor: purple;
  --mdsPaperBoxShadowHOffsetColor: rgba(255, 0, 255, 0.2);
  --mdsPaperBoxShadowVOffsetColor: rgba(255, 0, 255, 0.14);
  --mdsPaperBoxShadowBlurColor: rgba(255, 0, 255, 0.12); */
}