:root {
  /* --uiAccordionIconColor: white;
  --uiAccordionIconColorHover: orange;
  --uiPaperColor: orange;
  --uiPaperBackgroundColor: purple;
  --uiPaperBoxShadowHOffsetColor: rgba(255, 0, 255, 0.2);
  --uiPaperBoxShadowVOffsetColor: rgba(255, 0, 255, 0.14);
  --uiPaperBoxShadowBlurColor: rgba(255, 0, 255, 0.12); */
}