:root {
  --uiTreeDisplay: flex;
  /* --uiFontFamily: 'Roboto Condensed', sans-serif; */
  /* --uiButtonTextTransform: uppercase; */
  /* --uiButtonBorderRadius: 2px; */
}
html {
  font-family: 'Roboto Condensed', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ui-tree {
  display: block;
  height: 3rem;
}