@import '../../base/src/base.scss';

.mds-chip-bag {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  cursor: text;
  margin: 0em;
  padding: 1px;
  min-height: 2.2rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  &.invalid {
    border-bottom: 2px solid rgb(255, 0, 0);
  }
  .mds-chip {
    margin: 3px;
    display: flex;
    flex: 0;
    &:first-child {
      margin-left: 0;
    }
  }
}

.mds-chip-bag-input,
.mds-chip-bag-input:focus {
  flex: 1;
  border-width: 0;
  border-style: none;
  border-image: none;
  background-color: initial;
  outline: initial;
  font-size: 1rem;
}

