@import '../../base/src/base.scss';

$mds-banner-color: #FEFEFE !default;
$mds-banner-background-color:  rgb(25, 35, 67) !default;

.mds-banner {
    color: $mds-banner-color;
    display: block;
    background-color: $mds-banner-background-color;
    padding-bottom: 10rem;
    padding-top: 4rem;
  h1 {
    text-align: center;
    display: block;
    font-size: 2rem;
    max-width: 768px;
    margin: 0 auto;
  }

  h4 {
    text-align: center;
    display: block;
    font-size: 0.9rem;
    max-width: 768px;
    margin: 1rem auto;
  }
}
