@import '../../core/src/core.scss';

.mds-banner {
    color: var(--mdsBannerColor,rgb(254, 254, 254));
    display: block;
    background-color: var(--mdsBannerBackgroundColor, rgb(25, 35, 67));
    padding-bottom: 10rem;
    padding-top: 4rem;
  
  h1, h4 {
    max-width: var(--mdsBannerMaxWidth, 768px);
    text-align: center;
    display: block;
  }

  h1 {
    color: var(--mdsBannerHeaderColor, inherit);
    max-width: var(--mdsBannerContentMaxWidth, 768px);
    font-size: 2rem;
    margin: 0 auto;
  }

  h4 {
    color: var(--mdsBannerContentColor, inherit);
    max-width: var(--mdsBannerContentMaxWidth, 768px);
    font-size: 0.9rem;
    margin: 1rem auto;
  }
}
