@import '../../base/src/base.scss';

$mds-chip-color: $mdsBlackLightest !default;
$mds-chip-remove-color: $mdsBlackLight !default;
$mds-chip-remove-color-hover: $mdsBlack !default;
$mds-chip-remove-color-active: $mdsBlack !default;

.mds-chip {
  display: flex;
  align-items: center;
  background-color: $mds-chip-color;
  padding: 0 12px;
  border-radius: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 1rem;
  cursor: pointer;
}

.mds-chip-remove {
  display: inline-block;
  justify-content: center;
  align-content: center;
  fill: $mds-chip-remove-color;
  height: 22px;
  width: 22px;
  font-size: 1rem;
  margin-right: -6px;
  margin-bottom: 2px;
  cursor: pointer;
}

.mds-chip-remove:hover {
  fill: $mds-chip-remove-color-hover;
}

.mds-chip-remove:active {
  fill: $mds-chip-remove-color-active;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.mds-chip-text {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  padding-bottom: 3px;
  margin: 0 2px;
  white-space: nowrap;
}
