@import '../../base/src/base.scss';

$mds-chip-color: $mdsBlackLightest !default;
$mds-chip-remove-color: $mdsWhite !default;
$mds-chip-remove-color-hover: $mdsBlackLighter !default;
$mds-chip-remove-color-active: $mdsBlackLighter !default;

.mds-chip {
  display: flex;
  align-items: center;
  background-color: $mds-chip-color;
  padding: 0 12px;
  border-radius: 32px;
  font-size: 1rem;
  cursor: pointer;
}

.mds-chip {
  height: 32px;
  line-height: 32px;
}

.mds-chip-remove {
  display: inline-block;
  justify-content: center;
  align-content: center;
  background: $mds-chip-remove-color;
  border: 0;
  height: 21px;
  width: 21px;
  border-radius: 50%;
  padding: 0;
  margin: 0 -4px 0 4px;
  font-size: 1rem;
  cursor: pointer;
}

.mds-chip-remove:after {
  color: $mds-chip-remove-color;
}

.mds-chip-remove:hover {
  background: $mds-chip-remove-color-hover;
}

.mds-chip-remove:active {
  background: $mds-chip-remove-color-active;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.mds-chip-text {
  word-wrap: none;
}
