@import '../../core/src/core.scss';

:host {
  display: inline-block;
}
.button-content {
  display: block;
}
.mds-button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  text-transform: inherit;
  border: none;
  margin: 0;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #fff;
  font-size: initial;
  padding: 0.5rem;
  border-radius: 4px;
  &.rounded {
    border-radius: 2rem;
    padding: 0.5rem 1rem;
  }

  &.primary {
    background-color: var(--mdsButtonPrimaryColor, $mdsBlue);

    &:hover {
      background-color:  var(--mdsButtonPrimaryColorHover, $mdsBlueDark)
    }
  }
  &.secondary {
    background-color: var(--mdsButtonSecondaryColor, $mdsOrange);
    &:hover {
      background-color:  var(--mdsButtonSecondaryColorHover, $mdsOrangeDark);
    }
  }
  &.outlined {
    
    background-color: var(--mdsButtonOulinedBackgroundColor, transparent);
    box-shadow: var(--mdsButtonOulinedBorder, inset 0px 0px 0px 2px $mdsPurple);
    color: var(--mdsButtonOulinedColor, $mdsPurple);
    &:hover {
      background-color: var(--mdsButtonOulinedBackgroundColorHover, $mdsGrayLightest);
      box-shadow: var(--mdsButtonOulinedBorderHover, inherit);
      color: var(--mdsButtonOulinedColorHover, inherit);
    }
  }
  .mds-button {
    height: 2rem;
    line-height: 2rem;
  }
  &.disabled {
    pointer-events: none;
    opacity: 0.3;
  }
}
