@import '../../core/src/core.scss';

:host {
  display: inline-block;
}
.button-content {
  display: block;
}
.mds-button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  text-transform: inherit;
  border: none;
  margin: 0;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #fff;
  font-size: initial;
  padding: 0.5rem;
  border-radius:  var(--mdsButtonBorderRadius, 4px);

  &.rounded {
    border-radius: 2rem;
    padding: 0.5rem 1rem;
  }

  &.primary {
    background-color: var(--mdsButtonPrimaryColor, $mdsBlue);

    &:hover {
      background-color:  var(--mdsButtonPrimaryColorHover, $mdsBlueDark)
    }
  }
  &.secondary,
  &.action {
    background-color: var(--mdsButtonSecondaryColor, $mdsOrange);
    &:hover {
      background-color:  var(--mdsButtonSecondaryColorHover, $mdsOrangeDark);
    }
  }
  &.disabled {
    pointer-events: none;
    opacity: 0.3;
  }
  &.success {
    background-color: var(--mdsButtonSuccessColor, $mdsGreen);
    &:hover {
      background-color: var(--mdsButtonSuccessHoverColor, $mdsGreenDark);
    }
  }
  &.info {
    background-color: var(--mdsButtonInfoColor, $mdsBlueDark);
    &:hover {
      background-color: var(--mdsButtonInfoHoverColor, $mdsBlueDarker);
    } 
  }
  &.warning {
    background-color: var(--mdsButtonWarningColor, $mdsRust);
    &:hover {
      background-color: var(--mdsButtonWarningHoverColor, $mdsRustDarker);
    }
  }
  &.danger {
    background-color: var(--mdsButtonDangerColor, $mdsRedLight);
    &:hover {
      background-color: var(--mdsButtonDangerHoverColor, $mdsRed);
    }
  }

  &.outlined,
  &.inverted {
    background-color: var(--mdsButtonOutlinedBackgroundColor, transparent);
    box-shadow: var(--mdsButtonOutlinedBorder, inset 0px 0px 0px 2px $mdsPurple);
    color: var(--mdsButtonOutlinedColor, $mdsPurple);
    &:hover {
      background-color: var(--mdsButtonOutlinedBackgroundColorHover, $mdsPurple);
      box-shadow: var(--mdsButtonOutlinedBorderHover, inherit);
      color: var(--mdsButtonOutlinedColorHover, $mdsWhite);
    }
    
    &.primary {
      color: var(--mdsButtonOutlinedColor, $mdsBlue);
      box-shadow: var(--mdsButtonOutlinedBorder, inset 0px 0px 0px 2px $mdsBlue);

      &:hover {
        background-color: var(--mdsButtonOutlinedBackgroundColorHover, $mdsBlueDark);
        box-shadow: var(--mdsButtonOutlinedBorderHover, $mdsBlueDark);
        color: var(--mdsButtonOutlinedColorHover, $mdsWhite);
      }
    }

    &.secondary,
    &.action {
      color: var(--mdsButtonSecondaryOutlinedColor, $mdsOrange);
      box-shadow: var(--mdsButtonSecondaryOutlinedBorder, inset 0px 0px 0px 2px $mdsOrange);

      &:hover {
        background-color: var(--mdsButtonSecondaryOutlinedBackgroundColorHover, $mdsOrangeDark);
        box-shadow: var(--mdsButtonSecondaryOutlinedBorderHover, $mdsOrangeDark);
        color: var(--mdsButtonSecondaryOutlinedColorHover, $mdsWhite);
      }
    }
    &.success {
      color: var(--mdsButtonSuccessOutlinedColor, $mdsGreen);
      box-shadow: var(--mdsButtonSuccessOutlinedBorder, inset 0px 0px 0px 2px $mdsGreen);

      &:hover {
        background-color: var(--mdsButtonSuccessOutlinedBackgroundColorHover, $mdsGreenDark);
        box-shadow: var(--mdsButtonSuccessOutlinedBorderHover, $mdsGreenDark);
        color: var(--mdsButtonSuccessOutlinedColorHover, $mdsWhite);
      }
    }

    &.info {
      color: var(--mdsButtonInfoOutlinedColor, $mdsBlueDark);
      box-shadow: var(--mdsButtonInfoOutlinedBorder, inset 0px 0px 0px 2px $mdsBlueDark);

      &:hover {
        background-color: var(--mdsButtonInfoOutlinedBackgroundColorHover, $mdsBlueDarker);
        box-shadow: var(--mdsButtonInfoOutlinedBorderHover, $mdsBlueDarker);
        color: var(--mdsButtonInfoOutlinedColorHover, $mdsWhite);
      }
    }
    &.warning {
      color: var(--mdsButtonWarningOutlinedColor, $mdsRust);
      box-shadow: var(--mdsButtonWarningOutlinedBorder, inset 0px 0px 0px 2px $mdsRust);

      &:hover {
        background-color: var(--mdsButtonWarningOutlinedBackgroundColorHover, $mdsRustDarker);
        box-shadow: var(--mdsButtonWarningOutlinedBorderHover, $mdsRustDarker);
        color: var(--mdsButtonWarningOutlinedColorHover, $mdsWhite);
      }
    }
    &.danger {
      color: var(--mdsButtonDangerOutlinedColor, $mdsRedLight);
      box-shadow: var(--mdsButtonDangerOutlinedBorder, inset 0px 0px 0px 2px $mdsRedLight);

      &:hover {
        background-color: var(--mdsButtonDangerOutlinedBackgroundColorHover, $mdsRed);
        box-shadow: var(--mdsButtonDangerOutlinedBorderHover, $mdsRed);
        color: var(--mdsButtonDangerOutlinedColorHover, $mdsWhite);
      }
    }
  }
}
