@import '../../core/src/core.scss';

:host {
  display: inline-block;
}
.button-content {
  display: block;
}
.ui-button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  text-transform: inherit;
  border: none;
  margin: 0;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #fff;
  font-size: initial;
  padding: 0.5rem;
  border-radius:  var(--uiButtonBorderRadius, 4px);

  &.rounded {
    border-radius: 2rem;
    padding: 0.5rem 1rem;
  }

  &.primary {
    background-color: var(--uiButtonPrimaryColor, $uiBlue);

    &:hover {
      background-color:  var(--uiButtonPrimaryColorHover, $uiBlueDark)
    }
  }
  &.secondary,
  &.action {
    background-color: var(--uiButtonSecondaryColor, $uiOrange);
    &:hover {
      background-color:  var(--uiButtonSecondaryColorHover, $uiOrangeDark);
    }
  }
  &.disabled {
    pointer-events: none;
    opacity: 0.3;
  }
  &.success {
    background-color: var(--uiButtonSuccessColor, $uiGreen);
    &:hover {
      background-color: var(--uiButtonSuccessHoverColor, $uiGreenDark);
    }
  }
  &.info {
    background-color: var(--uiButtonInfoColor, $uiBlueDark);
    &:hover {
      background-color: var(--uiButtonInfoHoverColor, $uiBlueDarker);
    } 
  }
  &.warning {
    background-color: var(--uiButtonWarningColor, $uiRust);
    &:hover {
      background-color: var(--uiButtonWarningHoverColor, $uiRustDarker);
    }
  }
  &.danger {
    background-color: var(--uiButtonDangerColor, $uiRedLight);
    &:hover {
      background-color: var(--uiButtonDangerHoverColor, $uiRed);
    }
  }

  &.outlined,
  &.inverted {
    background-color: var(--uiButtonOutlinedBackgroundColor, transparent);
    box-shadow: var(--uiButtonOutlinedBorder, inset 0px 0px 0px 2px $uiPurple);
    color: var(--uiButtonOutlinedColor, $uiPurple);
    &:hover {
      background-color: var(--uiButtonOutlinedBackgroundColorHover, $uiPurple);
      box-shadow: var(--uiButtonOutlinedBorderHover, inherit);
      color: var(--uiButtonOutlinedColorHover, $uiWhite);
    }
    
    &.primary {
      color: var(--uiButtonOutlinedColor, $uiBlue);
      box-shadow: var(--uiButtonOutlinedBorder, inset 0px 0px 0px 2px $uiBlue);

      &:hover {
        background-color: var(--uiButtonOutlinedBackgroundColorHover, $uiBlueDark);
        box-shadow: var(--uiButtonOutlinedBorderHover, $uiBlueDark);
        color: var(--uiButtonOutlinedColorHover, $uiWhite);
      }
    }

    &.secondary,
    &.action {
      color: var(--uiButtonSecondaryOutlinedColor, $uiOrange);
      box-shadow: var(--uiButtonSecondaryOutlinedBorder, inset 0px 0px 0px 2px $uiOrange);

      &:hover {
        background-color: var(--uiButtonSecondaryOutlinedBackgroundColorHover, $uiOrangeDark);
        box-shadow: var(--uiButtonSecondaryOutlinedBorderHover, $uiOrangeDark);
        color: var(--uiButtonSecondaryOutlinedColorHover, $uiWhite);
      }
    }
    &.success {
      color: var(--uiButtonSuccessOutlinedColor, $uiGreen);
      box-shadow: var(--uiButtonSuccessOutlinedBorder, inset 0px 0px 0px 2px $uiGreen);

      &:hover {
        background-color: var(--uiButtonSuccessOutlinedBackgroundColorHover, $uiGreenDark);
        box-shadow: var(--uiButtonSuccessOutlinedBorderHover, $uiGreenDark);
        color: var(--uiButtonSuccessOutlinedColorHover, $uiWhite);
      }
    }

    &.info {
      color: var(--uiButtonInfoOutlinedColor, $uiBlueDark);
      box-shadow: var(--uiButtonInfoOutlinedBorder, inset 0px 0px 0px 2px $uiBlueDark);

      &:hover {
        background-color: var(--uiButtonInfoOutlinedBackgroundColorHover, $uiBlueDarker);
        box-shadow: var(--uiButtonInfoOutlinedBorderHover, $uiBlueDarker);
        color: var(--uiButtonInfoOutlinedColorHover, $uiWhite);
      }
    }
    &.warning {
      color: var(--uiButtonWarningOutlinedColor, $uiRust);
      box-shadow: var(--uiButtonWarningOutlinedBorder, inset 0px 0px 0px 2px $uiRust);

      &:hover {
        background-color: var(--uiButtonWarningOutlinedBackgroundColorHover, $uiRustDarker);
        box-shadow: var(--uiButtonWarningOutlinedBorderHover, $uiRustDarker);
        color: var(--uiButtonWarningOutlinedColorHover, $uiWhite);
      }
    }
    &.danger {
      color: var(--uiButtonDangerOutlinedColor, $uiRedLight);
      box-shadow: var(--uiButtonDangerOutlinedBorder, inset 0px 0px 0px 2px $uiRedLight);

      &:hover {
        background-color: var(--uiButtonDangerOutlinedBackgroundColorHover, $uiRed);
        box-shadow: var(--uiButtonDangerOutlinedBorderHover, $uiRed);
        color: var(--uiButtonDangerOutlinedColorHover, $uiWhite);
      }
    }
  }
}
